/* Mobile (min-width: 430px) */
@media only screen and (min-width: 430px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
/* Tablet (min-width: 980px) */
@media only screen and (min-width: 980px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
/* Desktop (min-width: 1057px) */
@media only screen and (min-width: 1057px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

body {
  background-color: #f3f2ea;
}

#topbar-container {
  font-family: "MaryTodd W00 Regular";
  display: flex;
  flex-direction: column;
  background-color: #020809;
  gap: 59.87px;
  height: 475px;
  position: relative;
  z-index: 0;
}

#content-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 160px;
  background-color: #020809;
}

main {
  position: relative;
  z-index: 100;
}

#title-container a {
  font-size: 52px;
  letter-spacing: 0%;
  color: #f7f7f4;
  text-decoration: none;
  font-weight: bold;
  align-items: end;
}

#search-bar-container {
  align-self: center;
  display: flex;
  /* For large screens, up to 991px */
  /* For extra-large screens, 992px and above */
  /* For medium screens, up to 767px */
  /* For medium-small screens, up to 620px */
  /* For very small screens, up to 428px */
}
#search-bar-container input {
  color: #f7f7f4;
  background-color: #04594d;
  display: flex;
  padding-left: 46.36px;
  background-color: #04594d;
  width: 290px;
  border-radius: 0;
}
#search-bar-container input[type=search] {
  -webkit-appearance: none;
}
@media only screen and (max-width: 991px) {
  #search-bar-container input {
    width: 580px;
  }
}
@media only screen and (min-width: 992px) {
  #search-bar-container input {
    width: 636.53px;
  }
}
@media only screen and (max-width: 767px) {
  #search-bar-container input {
    width: 400px;
  }
}
@media only screen and (max-width: 575px) {
  #search-bar-container input {
    width: 345px;
  }
}
@media only screen and (max-width: 450px) {
  #search-bar-container input {
    width: 290px;
    border-radius: 0;
  }
  #search-bar-container input[type=search] {
    -webkit-appearance: none;
  }
}
#search-bar-container input::placeholder {
  color: #f7f7f4;
  opacity: 35%;
}
#search-bar-container input,
#search-bar-container button {
  height: 40.13px;
  border: none;
}
#search-bar-container input:focus-visible {
  outline: none;
}
#search-bar-container button {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1px;
  color: #f7f7f4;
  width: 116.24px;
  background-color: #8e4042;
}

.navbar {
  padding: 0px;
  height: 50px;
  background-color: #1a1a1a;
  position: relative;
  z-index: 100;
}
.navbar .navbar-brand {
  color: #fdfdfd;
}
.navbar .navbar-toggler-icon {
  color: white !important;
  /* Use only if necessary */
}

.navCon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fdfdfd;
  height: 50px;
  width: 100%;
}

.navItems {
  display: flex;
  justify-content: center;
}

.navCon:focus {
  color: gray;
  background-color: #04594d;
}

.navCon:hover {
  background-color: #04594d;
}

.navbar-collapse {
  background-color: #1a1a1a;
}

#top-headlines {
  background-color: #fdfdfd;
}

#blog-post1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 110px;
}
#blog-post1 h4 {
  margin-bottom: 10px;
  font-size: 15px;
}
#blog-post1 p {
  margin-bottom: 11px;
  font-size: 10px;
  color: #04594d;
}

#carousel-article #main-headlines {
  width: 100%;
  max-width: 599px;
  position: relative;
  z-index: 0;
}

.carousel-item {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.carousel-item img {
  width: 100%;
  max-width: 599px;
  height: 365px;
}
.carousel-item .carousel-caption {
  left: 0px;
  bottom: 0px;
  padding: 0px 25px 0px 25px;
}
.carousel-item .carousel-caption h5 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  line-height: auto;
  color: #f7f8b7;
}
.carousel-item .carousel-caption p {
  font-size: 10px;
}

#news1-container {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #1a1a1a;
  padding: 0px 25px 25px 25px;
}
#news1-container #content-news1 {
  color: #f7f7f4;
}
#news1-container #content-news1 p {
  text-align: left;
  padding: 9px 23px 15px 0px;
  margin-bottom: 0px;
}
#news1-container #img-news1 {
  position: relative;
  display: inline-block;
}
#news1-container #img-news1 img {
  height: 240px;
  max-width: 326px;
  width: 100%;
}
#news1-container #img-news1 h5 {
  padding: 15px 15px 0px 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: auto;
  color: #f7f8b7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#news2-container {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#news2-container #article1-container {
  border-bottom: 2px solid #f1f0f0;
}
#news2-container #article1-container h5 {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0px;
}
#news2-container #article1-container div {
  font-size: 10px;
  color: #676767;
  font-family: Arial, Helvetica, sans-serif;
}
#news2-container #article2-container h5 {
  color: #04594d;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0%;
  text-align: left;
}

#other-news {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#other-news #otherNews-container #latest-hl h3 {
  width: 50%;
  font-size: 33px;
}
#other-news #otherNews-container #latest-hl #horizontal-line {
  height: 2px;
  background-color: #000;
  width: 100%;
}
#other-news #otherNews-container #otherNewsCollection {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#other-news #otherNews-container #otherNewsCollection #otherNews-row #otherNews {
  padding-bottom: 12px;
  padding-top: 12px;
}
#other-news #otherNews-container #otherNewsCollection #otherNews-row #otherNews #news1-img {
  background-image: url("/img/Frame 7.png");
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  height: 340px;
  position: relative;
}
#other-news #otherNews-container #otherNewsCollection #otherNews-row #otherNews #news1-img h5 {
  width: 360px;
  font-size: 20px;
  font-weight: auto;
  color: #f7f8b7;
}
#other-news #otherNews-container #otherNewsCollection #otherNews-row #otherNews #news1-img #author {
  font-size: 10px;
  color: white;
}

#trendingHeadlines {
  padding: 20px;
}
#trendingHeadlines .position-sticky {
  padding: 25px;
  background-color: #fdfdfd;
}
#trendingHeadlines .position-sticky #trending-container {
  border-top: #dfdfdf solid 1px;
}
#trendingHeadlines .position-sticky #trending-container .trendingimages {
  width: 160px;
  height: 140px;
}
#trendingHeadlines .position-sticky #trending-container #trendingNewsContent h6 {
  text-align: left;
  font-size: 15px;
  color: black;
}
#trendingHeadlines .position-sticky #trending-container #trendingNewsContent p {
  text-align: left;
  font-size: 10px;
  color: #04594d;
}
#trendingHeadlines .position-sticky #trending-container #trendingNewsContent small {
  font-size: 9px;
  color: #04594d;
}

#headlinesButton {
  background-color: #1a1a1a;
  border-radius: 2.77px;
  color: #fdfdfd;
}

#viewMore {
  font-family: "MaryTodd W00 Regular";
  border: 0px;
  font-size: 20px;
  color: white;
  background-color: #04594d;
  width: 119px;
  height: 48px;
}

#viewMore:hover {
  background-color: #067c6c;
}

#viewMore:active {
  background-color: #023d34;
}

footer {
  font-family: "MaryTodd W00 Regular";
  background-color: #020809;
  padding: 50px;
}
footer .row #logoFooterContainer #footerLogo {
  font-weight: bold;
  font-size: 52px;
  text-decoration: none;
  color: #f7f7f4;
}
footer .row #logoFooterContainer #footerLogo:hover {
  color: #04594d;
}
footer .row #middleFooter h6 {
  text-align: center;
  padding: 15px;
  color: #fdfdfd;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  line-height: 100%;
  font-weight: bold;
  letter-spacing: 0%;
  height: 40px;
  width: 90px;
}

.footer-link:hover,
.footer-link:focus {
  color: gray;
}

.midFootLink {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fdfdfd;
  height: 50px;
  width: 115px;
}

.midFootLink:hover,
.midFootLink:focus {
  color: gray;
}

.nav-link {
  color: #fdfdfd;
}

.nav-link:hover {
  color: #04594d;
}

.navLinkText:hover {
  color: gray;
}

/*# sourceMappingURL=styles.css.map */
