/* Mobile (min-width: 430px) */
@media only screen and (min-width: 430px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
/* Tablet (min-width: 980px) */
@media only screen and (min-width: 980px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
/* Desktop (min-width: 1057px) */
@media only screen and (min-width: 1057px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
html, body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
}

main {
  position: relative;
}

#topbar-container {
  font-family: "MaryTodd W00 Regular";
  display: flex;
  flex-direction: column;
  background-color: #020809;
  gap: 59.87px;
  height: 475px;
}

footer {
  background-color: #020809;
}

#content-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 160px;
  background-color: #020809;
}

#title-container a {
  font-size: 52px;
  letter-spacing: 0%;
  color: #F7F7F4;
  text-decoration: none;
  font-weight: bold;
  align-items: end;
}

#search-bar-container {
  position: relative;
  align-self: center;
  display: flex;
}
#search-bar-container input {
  width: 636.53px;
  color: #F7F7F4;
  background-color: #04594D;
  display: flex;
  padding-left: 46.36px;
  background-color: #04594D;
}
#search-bar-container input::placeholder {
  color: #F7F7F4;
  opacity: 35%;
}
#search-bar-container input, #search-bar-container button {
  height: 40.13px;
  border: none;
}
#search-bar-container input:focus-visible {
  outline: none;
}
#search-bar-container button {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1px;
  color: #F7F7F4;
  width: 116.24px;
  background-color: #8E4042;
}

.navbar {
  padding: 0px;
  height: 50px;
  background-color: #1A1A1A;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  color: #FDFDFD;
  height: 50px;
  width: 90px;
}

.nav-link:hover, .nav-link:focus {
  color: gray;
}

.nav-item:hover {
  background-color: #04594D;
}

/*# sourceMappingURL=styles.css.map */
